.pater {
	position: fixed;
	top: 0;
	background: #000;
	color: #fff;
	width: 100%;
	padding: 0.5em 0.5em 0 0.5em;
	display: flex;
	align-items: center;
	justify-items: center;
	text-align: center;
	font-size: 0.85em;
	z-index: 10000;
}

.pater:hover,
.pater:focus {
	color: #fff;
}

.pater__sponsor {
	vertical-align: middle;
}

.pater__sponsor span {
	font-size: 0.65em;
	letter-spacing: 3px;
	margin-left: 0.5em;
	text-transform: uppercase;
	font-weight: bold;

}

.pater__logo {
	max-height: 1.5em;
	vertical-align: middle;
}

.pater__title {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: flex;
	flex-direction: column;
}

.pater__title span:first-child {
	font-size: 0.85em;
	display: block;
	line-height: 1;
}

.pater__title span:nth-child(2) {
	letter-spacing: 2px;
	font-size: 0.5em;
	display: none;
}

.pater__description {
	margin: 0;
	display: none;
}

.pater__img {
	max-height: 65px;
}

@media screen and (min-width: 50em) {
	.pater {
		position: absolute;
		top: 0;
		right: 0;
		margin: 2em;
		width: 280px;
		display: grid;
		padding: 0.85em 0.85em 0 0.85em;
		grid-template-columns: 65% 35%;
		grid-template-rows: 1em 8em;
		font-size: 1em;
		border: 2px solid #fff;
		background: transparent;
		text-align: left;
	}
	.pater__sponsor {
		width: 100%;
		grid-area: 1 / 1 / 2 / 3;
	}
	.pater__logo {
		padding: 0 0 0 0.45em;
	}
	.pater__img {
		max-height: none;
		max-width: 100%;
		grid-area: 2 / 2 / 3 / 3;
		align-self: end;
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: ease-in-out;
		transform-origin: 100% 100%;
	}
	.pater:hover .pater__img {
		opacity: 0.7;
		transform: scale3d(1.1,1.1,1);
	}
	.pater__title,
	.pater__description {
		grid-area: 2 / 1 / 3 / 2;
		align-self: end;
		padding: 0 0 1em 0.25em;
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: ease-in-out;
	}
	.pater:hover .pater__title {
		opacity: 0;
		transform: translate3d(0,-20px,0);
	}
	.pater__description {
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.85em;
		letter-spacing: 1px;
		padding-right: 1.25em;
		opacity: 0;
		transform: translate3d(0,20px,0);
	}
	.pater:hover .pater__description {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
	.pater__title span:first-child {
		margin: 0 0 0.25em;
		font-size: 1em;
	}
	.pater__title span:nth-child(2) {
		display: block;
	}
}
